.page4-main {
    display: grid;
    position: relative;
    z-index: 10;
    grid-template-rows: auto auto auto auto;
    background: linear-gradient( 180deg, #ABDCFF 10%, #0396FF 100%);
    border-radius: 10px 0 0 10px;
    margin: 100px 0 100px 950px;
}
.page4-main > div {
    margin: 20px 0 20px 25px;
}
.page4-main > div > i {
    color: #ffffff;
    font-size: 34pt;
}
.page4-main > div > p {
    display: inline;
    padding: 10px 0 10px 20px;
    color: #f1f1f1;
    font-size: 20pt;
}