.page3-main {
    display: grid;
    position: relative;
    z-index: 10;
    grid-template-columns: 650px auto;
}
.btn-group {
    position: relative;
    z-index: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 80px;
    margin-bottom: 80px;
    max-width: 450px;
}
.btn-group button {
    display: block;
    background: none;
    border-radius: 10px;
    margin: 5px;
    width: 450px;
    height: 75px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 20pt;
    cursor: pointer;
}
.btn-group button.disabled:hover {
    display: block;
    border-radius: 0;
    border-bottom: solid 3px #0396FF;
    margin: 5px;
    width: 450px;
    height: 75px;
    cursor: pointer;
}
.btn-group button.enabled {
    color: #ffffff;
    background: linear-gradient( 280deg, #ABDCFF 10%, #0396FF 100%);
    animation: Background;
    animation-duration: 0.3s;
}
#form {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 100px;
    margin-bottom: 30px;
    max-width: 769px;
    max-height: 485px;
}
#form > div > p {
    font-family: 'Noto Sans JP', sans-serif;
}
@keyframes Background {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}